@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF,
    U+0100-024F,
    U+0370-03FF,
    U+0400-04FF,
    U+1E00-1EFF;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
    url('../fonts/raleway-v19-latin/raleway-v19-latin-regular.woff2') format('woff2'), /* WOFF2 format */
    url('../fonts/raleway-v19-latin/raleway-v19-latin-regular.woff') format('woff'); /* WOFF format */
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-05FF;
    font-display: swap;
}
